 body {
 	background-color: #333;


	width: 50vw;
	max-width: 40rem;
	margin: auto;
 }

.app {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

.action-bar {
	display: flex;
	justify-content: center;
}

.camera-display {
	margin-bottom: 2rem;
}

.capture {
	width: 100%;
	background-color: white;
	border-right: 10px black dashed;
	border-left: 10px black dashed;
	margin-bottom: 2rem;
	transition: opacity 3s;
}

.s-initial-fade {
	opacity: 0.1;
}

#capture {

}